[submodule "plant"]
	path = plant
	url = https://github.com/ka-thas/plant
[submodule "snake-js"]
	path = snake-js
	url = https://github.com/ka-thas/snake-js
[submodule "nursery-website"]
	path = nursery-website
	url = git@github.com:ka-thas/nursery-website.git
