[submodule "plant"]
	path = plant
	url = https://github.com/ka-thas/plant
[submodule "snake-js"]
	path = snake-js
	url = https://github.com/ka-thas/snake-js
[submodule "nursery-website"]
	path = nursery-website
	url = git@github.com:ka-thas/nursery-website.git
[submodule "electric-scooter-map"]
	path = electric-scooter-map
	url = git@github.com:ka-thas/electric-scooter-map.git
[submodule "flashcards"]
	path = flashcards
	url = git@github.com:ka-thas/flashcards.git
