@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #0f6e5c00;
}
body {
    font-family: urbanist, sans-serif;
    font-size: larger;
    background-color: #111;
    background: linear-gradient(270deg, rgba(16,16,16,1) 0%, rgba(33,13,73,1) 100%);
    color: #fff;
}

h1 {
    font-size: 100px;
    background-color: var(--background-color);
    margin: 0;
}
nav {
    background-color: var(--background-color);
    color: #fff;
    padding: 20px;
}
main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--background-color);
}
#breadcrumbs, #breadcrumbs a{
    color: #999

}
#breadcrumbs a:hover {
    color: #fff;
}
a {
    color: #00ff80;
    text-decoration: none;
}
a:hover {
    color: #efff78;
}
img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    border: .5px solid #bbaacc80;
    box-shadow:
        0px 1.2px 2.2px rgba(0, 0, 0, 0.028),
        0px 3px 5.3px rgba(0, 0, 0, 0.035),
        0px 5.6px 10px rgba(0, 0, 0, 0.038),
        0px 10.1px 17.9px rgba(0, 0, 0, 0.041),
        0px 18.8px 33.4px rgba(0, 0, 0, 0.047),
        0px 45px 80px rgba(0, 0, 0, 0.07);
        /* https://shadows.brumm.af/ */
}
.gradient-text {
    background: linear-gradient(100deg, #00ff80, #efff78);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}